<div>
  <form action="/login" method="POST">
    Username:
    <div>
      <input type="text" class="input-box" name="username" placeholder="username"><br>
    </div>
    Password:
    <div>
      <input type="password" class="input-box"name="password" placeholder="password"><br>
    </div><br>
    <input type="submit" value="Login">


  </form>

</div>
