<h1>Sign Up for InteractiveChat </h1>
<form action="/signup" method="post">
  Choose a username:
  <div>
    <input type="text" name="username" placeholder="username">
  </div>
  Choose a password:
  <div>
    <input type="text" name="password" placeholder="password">
  </div>
  Confirm password:
  <div>
    <input type="text" name="password" placeholder="retype password">
  </div>
  <input type="submit" value="Create User">

</form>
